.navbar-inverse {
    background-color: #003 !important;
    border-color: #000022 !important;
}

.navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #262680 !important;
}

.navbar-nav>.active>a {
    color: #fff;
    background-color: #141460 !important;
}